@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao EasyPC</h1>
    <p class="lead">Sistema de gestão de encomendas e montagem de PCs personalizados.</p>

    <div class="mt-4">
        <a class="btn btn-primary btn-lg me-2" href="/Encomendas">Gerir Encomendas</a>
        <a class="btn btn-outline-secondary btn-lg me-2" href="/Montagens">Acompanhar Montagens</a>
        <a class="btn btn-outline-dark btn-lg" href="/Componentes">Ver Componentes</a>
    </div>
</div>
